body {
  margin: 0;
}

.modal-body table {
  margin: 0 auto;
  width: 100%;
}

.modal-body th,
.modal-body td {
  text-align: center;
  vertical-align: middle;
}

.logo {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.iconocarro,
.iconousuario {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 15px;
}

.color {
  width: 2000px;
  height: 50px;
  background-color: black;
}

header {
  display: flex;
  height: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  margin: 0;
}

header .opciones {
  font-size: 20px;
  margin: 0 10px;
  color: black;
}

.contenedorcomputadores {
  background-color: brown;
  width: 1110px;
  height: 1110px;
}
.contenedorcomputadores .card {
  width: 100px;
  height: 100px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}
