body{

    margin: 0;
}
.color{
width: 2000px;
height: 50px;
background-color: black;
}
header{
    display:flex;
    height: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin: 0;
}
.IconosEncabezado{
    height: 10px;
}

.nombre{
    position: relative;
    top: 10px;
    right: 100px;
    font-size: 300%;
}
.logo{
    display: flex;
    align-items: center;


}
.logo img{
    height: 100px;
    margin-right: 10px;
    position: relative;
    top: 10px;
    right: 90px;

}
nav{
    display: flex;
    height: 17px;
    padding: 20px;
    position: relative;
    left: 280px;
    
}

.opciones{
    position: relative;
    right: 300px;
    font-size: 170%;
    padding: 25px;
    top:20px;
}
nav a{
    font-weight: 500;
    padding-right: 10px;
    color: black
}
.iconocarro{
    width: 70px;
    height: 70px;
    position:relative;
    top: 0px;
    left: 40px;
}
.iconousuario {
    width: 70px;
    height: 70px;
    position: relative;
    top: 0px;
    left: 45px;


}






.contenedorcomputadores {
    background-color: brown;
    width: 1110px;
    height: 1110px;
}
.contenedorcomputadores .card {
    width: 100px;
    height: 100px;
}

@media (max-width:700px){
    
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }

}
